{% extends 'base.html' %}

{% block title %}
 <title>IT-тренер</title>
{% endblock %}

{% block body %}
<!-- <div class="p-3 mb-2 bg-primary">-->
<!--   <img src="/Applications/Универ/5 семестр/Курсовик/templates/Fon.jpg" style="width:900px;height:600px;">-->

   <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Пройдем тест?</h1>
      <p class="fs-5 text-muted"> с!</p>
    </div>
<div class="container">
    {% for el in quest %}
    <h4 class="my-0 font-weight-normal">{{el.question}}</h4>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <form id="form" method="POST">
    <div class="row row-cols-auto row-cols-md-5 mb-3 text-center">
            <input type="radio"  class="btn-check" id="btn-check-outlined1" name="mybox" value="{{ el.var1 }}" autocomplete="off" required>
            <label class="btn btn-outline-primary" for="btn-check-outlined1">{{el.var1}}</label>

        <input type="radio"  class="btn-check"  id="btn-check-outlined2" name="mybox" value="{{ el.var2 }}" autocomplete="off" required>
            <label class="btn btn-outline-primary" for="btn-check-outlined2">{{el.var2}}</label>

        <input type="radio"  class="btn-check" id="btn-check-outlined3" name="mybox" value="{{ el.var3 }}" autocomplete="off" required>
            <label class="btn btn-outline-primary" for="btn-check-outlined3">{{el.var3}}</label>

        <input type="radio"  class="btn-check" id="btn-check-outlined4" name="mybox" value="{{ el.var4 }}" autocomplete="off" required>
            <label class="btn btn-outline-primary" for="btn-check-outlined4">{{el.var4}}</label>
        </div>
<!--        <input type="submit">-->
        <br>
        {% endfor %}
        <div class="row">
        <div class="col-md-12 offset-md-11">
<!--            <div class="collapse in" id="hide">-->
                <button class="btn btn-outline-success btn-lg" type="submit"> Купить </button>
<!--            </div>-->
        </div>
    </div>
    </form>
</div>

<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
<!--<a href="/beginner" class="btn btn-lg btn-block btn-outline-primary">Новичок</a>-->
<!--<a href="/experienced" class="btn btn-lg btn-block btn-outline-primary">Опытный</a>-->
<!--<a href="/professional" class="btn btn-lg btn-block btn-outline-primary">Профи</a>-->
<!--<a href="/professional" class="btn btn-lg btn-block btn-outline-primary">Профи</a>-->
<!--<div class="container">-->
<!--  <div class="row row-cols-auto row-cols-md-3 mb-8 text-center">-->
<!--  {% for el in data %}-->
<!--  <div class="card mb-4 shadow-sm">-->
<!--      <div class="card-header">-->
<!--        <h4 class="my-0 font-weight-normal">{{ el.title_film }}</h4>-->
<!--      </div>-->
<!--      <img class="card-img-top" src="{{el.img}}" alt="Card image cap">-->
<!--      <div class="card-body">-->
<!--        <h1 class="card-title pricing-card-title">{{ el.age_ratings }}+</h1>-->
<!--        <ul class="list-unstyled mt-3 mb-4">-->
<!--          <li>{{ el.country_of_production }}</li>-->
<!--          <li>{{ el.year_of_production }}</li>-->
<!--          <li>Описание: {{ el.text }}</li>-->
<!--          <li>Жанр: {{ el.genre }}</li>-->
<!--          <li>Режисер: {{ el.director }}</li>-->
<!--          <li>Актеры: {{ el.starring }}</li>-->
<!--        </ul>-->
<!--        <a href="/buy/{{el.id}}" class="btn btn-lg btn-block btn-outline-primary">Купить билет</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  {% endfor %}-->
<!--  </div>-->
<!--       </div>-->
{% endblock %}
